<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        <%= title %>
    </title>
    <link rel="stylesheet" href="/css/style.css">

</head>

<body>
    <header>
        <a href="/">
            <img src="images/1x/logo.png" alt="logo">
        </a>
    </header>

    <nav>
        <ul>
            <li><a class="<%= activehome %>" href="/"><img src="images/1x/home2.png" alt="home"></a></li>
            <li><a class="<%= activezoek %>" href="/add"><img src="images/1x/zoek.png" alt="zoek"></a></li>
            <li><a class="<%= activematch %>" href="/search"><img src="images/1x/match.png" alt="match"></a></li>
            <li><a class="<%= activeaccount %>" href="/account"><img src="images/1x/account.png" alt="account"></a>
            </li>
        </ul>
    </nav>