<%- include("header.ejs")%>
    <h1>test 2</h1>

    <h3>quote van de dag (motivatie)</h3>
    <p>
        <%= quotes %>
    </p>

    <h2>test met namen vanuit het index.js bestand</h2>
    <ul>
        <% for (let naam of people) { %>
            <li>
                <%= naam.name %> is <%= naam.age %> jaar oud!
            </li>
            <% } %>
    </ul>




    <%- include("footer.ejs")%>